.top {
    background-image: url(../images/top-bg.jpg);
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(
            45.97% 54.43% at 50% 45.57%,
            rgba(23, 26, 28, 0) 50.28%,
            rgba(23, 26, 28, 0.00225974) 50.29%,
            rgba(4, 5, 5, 0.820343) 58.72%,
            rgba(5, 5, 6, 0.792703) 80.08%,
            #000000 87.89%
        );
        opacity: 0.4;
    }

    &__wrapper {
        display: flex;
        align-items: flex-end;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    &__title {
        @extend %sf-semibold;
        font-size: 96px;
        line-height: 115px;
        margin-bottom: 36px;
    }
    &__text {
        margin: 90px 0 35px;
        line-height: 150%;
        @extend %ubuntu-light;
        max-width: 325px;
    }
    &__social-item {
        display: inline-block;
        margin: 0 25px;
    }
    &__social-link {
        opacity: 0.5;
        transition: all 0.3s;
        &:hover {
            opacity: 1;
        }
    }
}

.products {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
    }
    &__text {
        max-width: 446px;

        p {
            margin-bottom: 30px;
        }
    }

    &__slider-box {
        position: relative;
        padding-top: 110px;
        margin-top: 6%;
    }
    &__slider-text {
        width: 280px;
        position: absolute;
        @extend %ubuntu-medium;
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        bottom: 40px;
        left: -235px;
        z-index: 5;
    }
    &__slider {
        max-width: 560px;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 276px;
            border: 4px solid #fff;
            top: -15px;
            right: -17px;
        }
    }
}

.slider-btn {
    padding: 16px 26px;
    border: none;
    background-color: #fff;
    position: absolute;
    bottom: -49px;
    right: 0;
    cursor: pointer;
    z-index: 5;

    svg {
        stroke: #000;
    }

    &__left {
        right: 60px;
    }

    &.slick-disabled {
        background-color: #000;
        svg {
            stroke: #fff;
        }
    }
}

.benefits {
    &__items {
        display: flex;
        flex-wrap: wrap;
        padding-left: 25px;
    }
    &__item {
        margin-bottom: 120px;
        display: flex;
        align-items: flex-end;

        &:nth-child(even) {
            margin-left: 78px;
            transform: translateY(25px);
        }
        &:nth-child(3) {
            margin-left: 30px;
        }
        &:nth-child(4) {
            margin-left: 90px;
        }
        &:first-child,
        &:nth-child(3) {
            position: relative;
            &::before,
            &::after {
                content: "";
                position: absolute;
                background-repeat: no-repeat;
                background-position: 0 0;
            }
        }
        &:first-child {
            &::before {
                height: 48px;
                width: 245px;
                background-image: url("../images/line-1.svg");
                right: -81px;
                top: 41px;
            }
        }
        &:nth-child(3) {
            &::before {
                width: 254px;
                height: 43px;
                top: 50px;
                right: -90px;
                background-image: url("../images/line-3.svg");
            }
            &::after {
                width: 463px;
                height: 62px;
                top: -90px;
                right: -50px;
                background-image: url("../images/line-2.svg");
            }
        }
    }
    &__num {
        @extend %ubuntu-bold;
        font-size: 36px;
        line-height: 41px;
    }
    &__img {
        position: relative;
        margin-right: 32px;
        &::before {
            content: "";
            position: absolute;
            width: 193px;
            height: 128px;
            border: 2px solid #ffffff;
            right: -12px;
            top: -12px;
            z-index: -1;
        }
    }

    &__info {
        width: 300px;
    }
    &__info-title {
        width: 123px;
        @extend %ubuntu-bold;
        font-size: 21px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    &__info-text {
        font-size: 15px;
        line-height: 130%;
    }
}

.specification {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 25px;
    }
    &__item--center {
        margin-left: -15px;
        margin-right: -15px;
    }
    &__box-2 {
        margin-top: 140px;
    }
    &__box-4 {
        margin-top: 160px;
    }
    &__box-1::before {
        background-image: url("../images/pointer-1.svg");
        width: 229px;
        height: 115px;
        right: -210px;
        bottom: 4px;
    }
    &__box-2::before {
        background-image: url("../images/pointer-2.svg");
        width: 346px;
        height: 82px;
        right: -320px;
        top: -66px;
    }
    &__box-3::before {
        background-image: url("../images/pointer-3.svg");
        width: 258px;
        height: 104px;
        left: -282px;
        bottom: -22px;
    }
    &__box-4::before {
        background-image: url("../images/pointer-4.svg");
        width: 124px;
        height: 90px;
        left: -140px;
        top: -73px;
    }
    &__box {
        width: 280px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-position: 0 0;
            z-index: 10;
        }
    }
    &__box-title {
        font-size: 21px;
        line-height: 28px;
        @extend %ubuntu-bold;
        margin-bottom: 10px;
    }
    &__box-text {
        font-size: 15px;
        line-height: 130%;
    }
}

.questions {
    &__items {
        max-width: 757px;
        padding-bottom: 15px;
    }
    &__item {
        background-color: rgba(0, 0, 0, 0.3);
        max-width: 690px;
    }
    &__item-title {
        @extend %ubuntu-medium;
        font-size: 21px;
        line-height: 28px;
        color: rgba(#fff, 0.8);
        padding: 20px 10px 24px 40px;
        position: relative;
        cursor: pointer;
        &::after {
            content: url("../images/accordion-arrow.svg");
            position: absolute;
            right: -72px;
            top: 0;
            width: 72px;
            height: 67px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__item-text {
        padding: 0 5px 75px 50px;
        font-size: 15px;
        line-height: 150%;
        @extend %ubuntu-light;
    }
}
