@media (max-width: 1100px) {
    .menu {
        order: 1;
    }
    .menu__list {
        display: none;
    }
    .menu__btn {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        cursor: pointer;
        display: block;
    }
    .menu__btn:before,
    .menu__btn:after {
        content: '';
        width: 24px;
        height: 2px;
        background: #E0E0E0;
        display: block;
        margin-bottom: 4px;
    }
    .menu__btn:after {
        margin-bottom: 0;
        width: 16px;
        margin-left: auto;
    }
    .menu__btn-line {
        background: #E0E0E0;
        width: 24px;
        height: 2px;
        display: block;
        margin-bottom: 4px;
    }
    .header__phone {
        display: none;
    }
}
