%ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
}
%ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}
%ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

%sf-regular {
    font-family: "SFProDisplay-Regular", sans-serif;
    font-weight: 400;
}
%sf-semibold {
    font-family: "SFProDisplay-Semibold", sans-serif;
    font-weight: 600;
}
